[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third-party/spectra"]
	path = third-party/spectra
	url = https://github.com/yixuan/spectra.git
